CompileFlags:
    Add:
        - -xc
        - -std=c11
        - -m32
        - -Wall
        - -Wextra
        - -pedantic
        - -Wno-empty-translation-unit
        - -DARCH_I386
Style:
    QuotedHeaders: .*/private\.h
---
If:
    PathMatch: .*/*\.h
CompileFlags:
    Add: -Wno-unused-function
---
If:
    PathMatch:
        - common/.*
        - kernel/.*
CompileFlags:
    Add:
        - -isystem.
---
If:
    PathMatch: kernel/.*
CompileFlags:
    Add:
        - -isystemkernel/api/x86
        - -isystemkernel/arch/i386/include
        - -isystemkernel/arch/x86/include
---
If:
    PathMatch: userland/.*
CompileFlags:
    Add:
        - -isystemuserland/libc
        - -isystem.
        - -isystemkernel/api
        - -isystemkernel/api/x86
