CompileFlags:
  Add:
  - -xc
  - -std=c11
  - -m32
  - -nostdlib
  - -ffreestanding
  - -Wextra
  - -I/home/mosm/yagura/userland
  - -isystem/home/mosm/yagura/userland/lib
  - -isystem/home/mosm/yagura/kernel/api
  - -isystem/home/mosm/yagura/common
  - -isystem/home/mosm/yagura
Index:
  StandardLibrary: No
Diagnostics:
  Includes:
    IgnoreHeader:
    - types.h
