name: build

on: [push, pull_request]

jobs:
    build:
        runs-on: ubuntu-24.04
        strategy:
            fail-fast: false
            matrix:
                compiler: [gcc, clang]
                arch: [i386, x86_64]
        env:
            CC: ${{ matrix.compiler }}
            ARCH: ${{ matrix.arch }}
            EXTRA_CFLAGS: -Werror
        steps:
            - uses: actions/checkout@v4
            - run: sudo apt-get update && sudo apt-get install -y cpio qemu-system-x86 grub2 mtools xorriso
            - run: make
            - run: nm -n kernel/kernel | awk 'NF==3'
            - run: make test
              timeout-minutes: 3
            - run: grub-file --is-x86-multiboot build/${{ matrix.arch }}/kernel.elf
            - run: make disk_image
    ubsan:
        runs-on: ubuntu-24.04
        strategy:
            fail-fast: false
            matrix:
                arch: [i386, x86_64]
        env:
            CC: gcc
            ARCH: ${{ matrix.arch }}
            EXTRA_CFLAGS: -Werror -fsanitize=undefined
        steps:
            - uses: actions/checkout@v4
            - run: sudo apt-get update && sudo apt-get install -y cpio qemu-system-x86
            - run: make
            - run: make test
              timeout-minutes: 3
    host-test:
        runs-on: ubuntu-24.04
        env:
            CC: gcc
            ARCH: i386
        steps:
            - uses: actions/checkout@v4
            - run: make userland
            # Reduce stack size to reach command-line argument size limits easily
            - run: sudo systemd-run --scope --quiet -p MemoryMax=256M bash -c 'ulimit -s 4096 && ${{ github.workspace }}/build/i386/base/bin/tests/run'
              timeout-minutes: 3
